{% extends 'base.html' %}

{% block app_content %}
{% block style %}
<style>
    @media (max-width: 1050px){
        img {display: none;}  /* 不顯示側邊(Drink) */
    }
    h1, label {color: white;}
    .alert-Info {color: white;}
</style>
{% endblock style %}
    <img src="/static/assets/drink.png" alt="icon" align="right" style="width:500px; height:500px;">
    <h1>登入帳戶</h1>
    <br>
    <div class="row">
        <div class="col-md-6" style="color: white">
            {% import 'bootstrap/wtf.html' as wtf %}
            {{ wtf.quick_form(form) }}
<!--        </div>-->
<!--        <div class="col-md-6" style="color: white">-->
            <hr>
            忘記密碼？
            <a href="{{ url_for('send_password_reset_request') }}">
                點選以重設密碼
            </a>
        </div>
    </div>
{% block script %}
<script>
    document.querySelector('.btn-default').className = 'btn btn-primary';
</script>
{% endblock script %}
{% endblock %}