{% extends "base.html" %}

{% block app_content %}
{% block style %}
<style>
    h3, h4, label, form {color: white;}
    #list {color: white;}
</style>
{% endblock style %}
<div class="row">
    <div class="col-md-5">
        <h3><b>店家：無飲 台中精誠店</b></h3>
        <h4>地址：台中市西區精誠路90號1樓</h4>
        <label>菜單查詢：</label><br>
            <select id="menu" name="drink" multiple size="10">
               <optgroup label="品茗：">
                    <option value="阿薩姆紅茶 - 35">阿薩姆紅茶&nbsp-&nbsp35
                    <option value="茉香綠茶 - 35">茉香綠茶&nbsp-&nbsp35
                    <option value="金萱青茶 - 3535">金萱青茶&nbsp-&nbsp35
                    <option value="焙火烏龍 - 35">焙火烏龍&nbsp-&nbsp35
                    <option value="炭燒鐵觀音 - 35">炭燒鐵觀音&nbsp-&nbsp35
                    <option value="彌香普洱茶 - 35">彌香普洱茶&nbsp-&nbsp35
                    <option value="東方美人茶 - 35">東方美人茶&nbsp-&nbsp35
               </optgroup>
               <optgroup label="綿密：">
                    <option value="無．奶蓋金萱 - 60">無．奶蓋金萱&nbsp-&nbsp60
                    <option value="無．奶蓋綠茶 - 60">無．奶蓋綠茶&nbsp-&nbsp60
                    <option value="無．奶蓋阿薩姆 - 60">無．奶蓋阿薩姆&nbsp-&nbsp60
                    <option value="至尊黑霸燒奶 - 80">至尊黑霸燒奶&nbsp-&nbsp80
               </optgroup>
               <optgroup label="濃醇：">
                    <option value="紅茶拿鐵 - 65">紅茶拿鐵&nbsp-&nbsp65
                    <option value="綠茶拿鐵 - 65">綠茶拿鐵&nbsp-&nbsp65
                    <option value="烏龍拿鐵 - 65">烏龍拿鐵&nbsp-&nbsp65
                    <option value="鐵觀音拿鐵 - 65">鐵觀音拿鐵&nbsp-&nbsp65
                    <option value="普洱拿鐵 - 65">普洱拿鐵&nbsp-&nbsp65
                    <option value="冬瓜拿鐵 - 65">冬瓜拿鐵&nbsp-&nbsp65
                    <option value="阿華鐵拿鐵 - 70">阿華鐵拿鐵&nbsp-&nbsp70
                    <option value="東方美人拿鐵 - 85">東方美人拿鐵&nbsp-&nbsp85
               </optgroup>
               <optgroup label="無飲：">
                    <option value="甘蔗青茶 - 65">甘蔗青茶&nbsp-&nbsp65
                    <option value="甘蔗檸檬 - 65">甘蔗檸檬&nbsp-&nbsp65
                    <option value="甘蔗烏龍 - 65">甘蔗烏龍&nbsp-&nbsp65
               </optgroup>
               <optgroup label="新鮮：">
                    <option value="翡翠檸檬 - 55">翡翠檸檬&nbsp-&nbsp55
                    <option value="香橙翡翠綠 - 70">香橙翡翠綠&nbsp-&nbsp70
                    <option value="葡萄柚綠茶 - 70">葡萄柚綠茶&nbsp-&nbsp70
                    <option value="葡萄柚多多 - 75">葡萄柚多多&nbsp-&nbsp75
               </optgroup>
               <optgroup label="原味：">
                    <option value="小時候冬瓜茶 - 40">小時候冬瓜茶&nbsp-&nbsp40
                    <option value="冬瓜青茶/鐵觀音/烏龍 - 50">冬瓜青茶/鐵觀音/烏龍&nbsp-&nbsp50
                    <option value="冬瓜檸檬 - 50">冬瓜檸檬&nbsp-&nbsp50
                    <option value="冬瓜蘆薈 - 55">冬瓜蘆薈&nbsp-&nbsp55
                    <option value="冬瓜甘茶 - 50">冬瓜甘茶&nbsp-&nbsp50
                    <option value="仙草蜜 - 45">仙草蜜&nbsp-&nbsp45
                    <option value="綠豆冰沙 - 55">綠豆冰沙&nbsp-&nbsp55
                    <option value="綠豆沙牛奶 - 65">綠豆沙牛奶&nbsp-&nbsp65
                    <option value="蜂蜜檸檬蘆薈 - 65">蜂蜜檸檬蘆薈&nbsp-&nbsp65
               </optgroup>
               <optgroup label="純粹：">
                    <option value="鳥語花香四季如春 - 65">鳥語花香四季如春&nbsp-&nbsp65
                    <option value="冠軍蜜香紅 - 70">冠軍蜜香紅&nbsp-&nbsp70
               </optgroup>
               <optgroup label="記憶：">
                    <option value="台灣珍珠奶茶 - 50">台灣珍珠奶茶&nbsp-&nbsp50
                    <option value="仙草奶凍 - 50">仙草奶凍&nbsp-&nbsp50
                    <option value="QQ奶茶 - 50">QQ奶茶&nbsp-&nbsp50
                    <option value="珍無敵奶茶 - 75">珍無敵奶茶&nbsp-&nbsp75
                    <option value="布丁奶茶 - 60">布丁奶茶&nbsp-&nbsp60
                    <option value="麥芽阿華田 - 60">麥芽阿華田&nbsp-&nbsp55
                    <option value="多多綠茶(僅冰飲) - 60">多多綠茶(僅冰飲)&nbsp-&nbsp60
                    <option value="梅子綠茶 - 55">梅子綠茶&nbsp-&nbsp55
                    <option value="蜂蜜綠茶 - 50">蜂蜜綠茶&nbsp-&nbsp50
               </optgroup>
               <optgroup label="手作：">
                    <option value="黑霸紅茶鮮奶 - 75">黑霸紅茶鮮奶&nbsp-&nbsp75
                    <option value="黑霸烏龍鮮奶 - 75">黑霸烏龍鮮奶&nbsp-&nbsp75
                    <option value="白玉綠茶鮮乳 - 75">白玉綠茶鮮乳&nbsp-&nbsp75
                    <option value="白玉普洱鮮乳 - 75">白玉普洱鮮乳&nbsp-&nbsp75
                    <option value="白玉青茶鮮乳 - 75">白玉青茶鮮乳&nbsp-&nbsp75
                    <option value="白玉珍珠鮮乳 - 75">白玉珍珠鮮乳&nbsp-&nbsp75
                    <option value="仙草撞鮮乳 - 75">仙草撞鮮乳&nbsp-&nbsp75
               </optgroup>
               <optgroup label="限定：">
                    <option value="惡魔多多2.0 - 70">惡魔多多2.0&nbsp-&nbsp70
                    <option value="草莓親親 - 季節時價">草莓親親&nbsp-&nbsp季節時價
                    <option value="芒果冰沙 - 季節時價">芒果冰沙&nbsp-&nbsp季節時價
               </optgroup>
            </select>
            <form id="form1"><br>
                 <label>+10元：</label><br>
                 <input name="item-inner" type="radio" value="黑糖珍珠">黑糖珍珠
                 <input name="item-inner" type="radio" value="白玉珍珠">白玉珍珠
                 <input name="item-inner" type="radio" value="嫩仙草">嫩仙草
                 <input name="item-inner" type="radio" value="椰果">椰果
                 <input name="item-inner" type="radio" value="QQ">QQ
            </form>
            <form id="form2"><br>
                 <label>+15元：</label><br>
                 <input name="item-inner" type="radio" value="布丁">布丁
                 <input name="item-inner" type="radio" value="蘆薈">蘆薈
            </form>
            <form id="form3"><br>
                <label>甜度：</label><br>
                <input name="sweet" type="radio" value="正常甜">正常甜
                <input name="sweet" type="radio" value="七分甜">七分甜
                <input name="sweet" type="radio" value="五分甜">五分甜
                <input name="sweet" type="radio" value="三分甜">三分甜
                <input name="sweet" type="radio" value="無糖">無糖
            </form>
            <form id="form4"><br>
                <label>冰塊：</label><br>
                <input name="ice" type="radio" value="100%">正常冰
                <input name="ice" type="radio" value="70%">少冰
                <input name="ice" type="radio" value="30%">微冰
                <input name="ice" type="radio" value="0%">去冰
                <input name="ice" type="radio" value="Warm">溫
                <input name="ice" type="radio" value="Hot">熱
            </form>
    </div>

    <div class="col-md-5">
        <br>
        <button id="clear" class="btn btn-primary btn-sm">清除</button>   <!-- ok -->
        <button id="delete" class="btn btn-primary btn-sm">刪除最後一筆</button>
        <button id="collect" class="btn btn-primary btn-sm">收藏</button>
        <div class="rating-box">    <!-- 星星評分 -->
            <div class="rating">
                <br>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </div>
            <b><em id="rating-value"></em></b>
        </div>
        <hr>
        <ul id="list"></ul>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.4619974499265!2d120.65368121744386!3d24.155525100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693dba124e899b%3A0x8796be5202ce882b!2z54Sh6aOy5Y-w5Lit57K-6Kqg5bqX!5e0!3m2!1szh-TW!2stw!4v1664650032001!5m2!1szh-TW!2stw" width="450" height="300" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-md-2">  <!-- col-md-offset-4 向右移4個單位 -->
          <div class="thumbnail text-center">
            <br>
            <img src="{{ current_user.avatar_img }}" alt="avatar" width="100px">
              <div class="caption">
                <h4 style="color: black">{{ current_user.username }}</h4>
                <h6>頭像</h6>
                  <p>
                    <a href="{{ url_for('collection') }}" class="btn btn-success" role="button">收藏</a>
                    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary" role="button">編輯</a>
                  </p>
              </div>
          </div>
    </div>
</div>
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document
            .getElementById('menu')
            .addEventListener('input', handleSelect);
    })
    function handleSelect(event){
        let select = event.target;  // document.getElementById('menu');
        // console.log(select.value);
        let choices = [];
        let value = [];
        for(let i=0;i<select.selectedOptions.length;i++){           // 選幾個印出幾個
            choices.push(select.selectedOptions[i].value);
            // var txtNode = document.createTextNode(select.selectedOptions[i].value);
            list.innerHTML += "<li>" + select.selectedOptions[i].value + "</li>";
            if (list.children.length==0){
                break;
            }else{
                document.getElementById("delete").onclick =         //刪除最後一筆
                function(){
                    $('#list li:last').remove()     //remove
                }
                document.getElementById("clear").onclick =
                function(){
                    var c = document.getElementById("list");            //c => Clear
                    c.innerHTML = "";   // 刪除ul的內容(刪除所有li)
                    // list.innerHTML -= "<li>" + select.selectedOptions[i].value + "</li>";
                }
                document.getElementById("collect").onclick =         //收藏
                function(){
                    for(let i=0;i<select.selectedOptions.length;i++){
                        value.push(choices[i].split('-')[0])
                        localStorage.setItem(choices[i],value[i]);
                        console.log(localStorage.getItem(choices[i]));
                    }
                }
            }
        }
    }

    //星星評價
    const stars=document.querySelector(".rating").children;
    let ratingValue
    let index //目前選到的星星
    document.getElementById("rating-value").innerHTML = "請評分"
    for(let i=0;i<stars.length;i++){    //i為被選到的星星
        stars[i].addEventListener("mouseover",function(){
        //  console.log(i)
            document.getElementById("rating-value").innerHTML = "正在評分..."
            for(let j=0;j<stars.length;j++){
                stars[j].classList.remove("fa-star")     //reset 所有星星
                stars[j].classList.add("fa-star-o")
            }
            for(let j=0;j<=i;j++){
                stars[j].classList.remove("fa-star-o")       //先移除空心的星星
                stars[j].classList.add("fa-star")        //添加新的星星 如果i=j表示選中的
            }
        })
        stars[i].addEventListener("click",function(){
            ratingValue=i
            index=i
            $('#rating-value').html(ratingValue + '.0') ;
            var rank = i;
            localStorage.setItem("無飲",rank);     //r=幾星
        })
        stars[i].addEventListener("mouseout",function(){
            for(let j=0;j<stars.length;j++){
                stars[j].classList.remove("fa-star")     //reset 所有星星
                stars[j].classList.add("fa-star-o")
            }
            for(let j=0;j<=index;j++){
                stars[j].classList.remove("fa-star-o")
                stars[j].classList.add("fa-star")
            }
        })
    }
</script>
{% endblock script %}

{% endblock %}